/*
	Theme Name: mnmlist
    Theme URI: http://mathieu.agopian.info/mnmlist/theme.html
	Description: Theme adapted from http://mnmlist.com/theme/ from
  Leo Babauta, a very clean minimalist theme,
  without comments, search, archives or other features.
	Author: Mathieu Agopian
	Autor URI: http://mathieu.agopian.info

    This theme is uncopyrighted, free, and offered as is.
*/

body {
  background: #fff;
  color: #333;
  font-family:sans-serif;
  line-height: 30px;
}


h1 {
  font-weight: normal;
  line-height: 26px;
  margin-bottom: 0;
}


h2 {
  color: #666;
  line-height: 15px;
  padding-top: 10px;
}


h3 {
  color: #000000;
}


h4 {
  color: #000000;

}

time {
  color: #c0c0c0;
  font-size: 90%;
}

img {
  border: none;
}

blockquote {
  border-left: 1px solid #A5ABAB;
  margin: 0px;
  padding: 0 12px 0 12px;
}

p {
  line-height: 30px;
  margin: 30px auto;
  text-indent: 0px;
}
p.caption {
  font-size: 80%;
  margin-top: 0;
}

a {
  border-bottom: #999 1px solid;
  color: #303030;
  text-decoration: none;
}
a:hover {
  color: #999;
}

ul, ol {
  padding: .5em 0em 1em 3.2em;
}
ul li, ol li {
  line-height: 30px;
  padding: 6px 0 0 0;
}

strong {
  color: #555555;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
}

tt, pre {
  background-color: #fafafa;
  font-family: Inconsolata, Monaco, monospace;
  line-height: 1.2em;
}


pre {
  font-size: 0.8em;
  overflow: auto;
  padding: 10px;
}


footer {
  background: #fff;
  color: #666;
  font-size: 80%;
  letter-spacing: 4px;
  margin-left: 20px;
}

footer a {
  border-bottom: none;
  color: #c0c0c0;
}

footer li {
  display: inline;
}

footer p {
  text-align: right;
}

footer #widget {
  text-align: right;
}
#nav {
      margin-top: 20px;
      margin-left: 20px;
}
#content {
    margin:24px;
     padding: 0px 36px 0px 36px;
    max-width:600px;
}
@media all and (min-width: 800px) {
#nav {
    background: none;
    float: left;
    left: 0px;
    margin: 0px 0px 0px 18px;
    position: fixed;
    top: 0px;
    width: 102px;
    margin-top: 20px;
}

#nav a {
    display: block;
    text-align: right;
    margin: 6px 0px 6px 0px;
}

div#content {
        margin: 0px 0px 0px 106px;
        padding: 0px 36px 0px 36px;
        width: 600px;
    }
}